

.index-sm-h{
    padding-bottom: 5px;
    border-bottom: solid 3px black;
    font-weight: 400;
    display: inline-block;
}
/*p{*/
    /*padding-top: 20px;*/
    /*padding-bottom: 15px;*/
/*}*/
#first-part>div{
    padding-top: 50px;
    padding-bottom: 10px;
}
.carousel-indicators{
    bottom: -50px;
    z-index: 1;
}
.carousel-indicators li{
    margin-right: 8px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 10px;
    border: solid 1px gray;

}
.carousel-indicators li.active{
    background-color: #1dc9b1 !important;
    border-color: #1dc9b1;
}
#go-to-info{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;

}
#go-to-info a{
    color: #24cbb4;
}
.info-parts{
    padding-top: 40px;
    padding-bottom: 40px;
}                       /*调整页面中间灰色区域里的三部分的上下间距*/
.info-parts>div:nth-child(1),.info-parts>div:nth-child(3){
    padding-top:20px;
}


.more-info{
    color: #1bbaa2;
    font-weight: 500;
}                   /*改变“了解更多”链接的样式*/
.more-info:hover{
    color: #1bbaa2;
}

.img-responsive{
    max-width: 80%;
}






@media (max-width: 768px){

    h1{
        font-size: 27px;
    }
}
@media (min-width: 769px) {

}
@media (min-width: 992px) {

    #go-to-info{
        padding-top: 100px;
    }
    #first-part>div{
        padding-top: 180px;
    }
    .info-parts{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .info-parts:first-child{
        padding-top: 150px;
    }
    .info-parts>div:nth-child(1),.info-parts>div:nth-child(3){
        padding-top:0px;
        padding-bottom: 0px;
    }
}