/*导航栏下面的第一板块 start*/
#first-part>div{
    padding-top: 50px;
    padding-bottom: 10px;
}

blockquote{/*设置引言*/
    border-left: none;
    padding: 20px 0px 0px 0px;
}
#quote-name{
    text-align: right;
    padding-right: 10px;
}
/*定义网页第一板块下方的锚链接样式*/
.go-to-info{
    font-size: 23px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
}
.go-to-info>a{
    padding-left: 12px;
    padding-right: 12px;
    color: #5e5e5e;
    text-decoration: none;
}
.go-to-info>a:hover{
     color: #1dc9b1;
 }
/*定义网页第一板块下方的锚链接样式*/
/*导航栏下面的第一板块样式 end*/


/*第二板块之一--“开发者们”样式 start*/
#developer{
    background-color: #f7f7f7;
}
#mvp01,#developer>.container{
    padding-top: 80px;
    padding-bottom:80px;
}
/*“开发者们”和“MVP01”两小标题样式*/
.info-title1{
    font-size: 24px;
    color: #1dc9b1;
    padding-bottom: 5px;
    letter-spacing: 2px;
    border-bottom: 4px solid #1dc9b1;
    display: inline-block;
}
/*“开发者们”和“MVP01”两小标题下方标题样式*/
.info-title2{
    color: #757575;
    line-height: 145%;
    padding-bottom: 80px;
}


/*开发者动画展示部分样式 start*/
.mvp01ers-show{
    height: 1530px;
}
.mvp01ers{
    padding-top: 70px;
    padding-bottom: 70px;
}
/*动画展示卡片样式*/
.mvp01er>div{
    padding: 40px;
    margin-top: 60px;
    box-shadow: -1px 0px 2px #b1b1b1,1px 0px 2px #b1b1b1,0px 3px 8px #b1b1b1;
    border-bottom: 12px solid #1dc9b1;
    border-radius: 10px;
    background-color: white;
}
.mvp01er h3{
    line-height: 180%;
}
.mvp01er span{
    color: #1dc9b1;
    font-weight: 500;
}

/*mvp01er的翻转动画一*/
@keyframes reversal1 {
    0%{transform: rotateY(0deg);}
    45%{transform: rotateY(0deg);}
    55%{ transform: rotateY(180deg);}
    95%{ transform: rotateY(180deg);}
    100%{ transform: rotateY(360deg);}
}
/*兼容浏览器*/
@-webkit-keyframes reversal1 {
    0%{transform: rotateY(0deg);}
    45%{transform: rotateY(0deg);}
    55%{ transform: rotateY(180deg);}
    95%{ transform: rotateY(180deg);}
    100%{ transform: rotateY(360deg);}
}
/*mvp01er的翻转动画二*/
@keyframes reversal2 {
    0%{transform: rotateY(0deg);}
    40%{ transform: rotateY(0deg);}
    50%{ transform: rotateY(180deg);}
    90%{ transform: rotateY(180deg);}
    100%{ transform: rotateY(360deg);}
}
/*兼容浏览器*/
@-webkit-keyframes reversal2 {
    0%{transform: rotateY(0deg);}
    40%{ transform: rotateY(0deg);}
    50%{ transform: rotateY(180deg);}
    90%{ transform: rotateY(180deg);}
    100%{ transform: rotateY(360deg);}
}

/*给不同mvp01er卡片设置不同时间间隔的动画*/
.mvp01ers-show>div:nth-child(1)>.mvp01er{
    animation: reversal1 20s 1s infinite;
    -webkit-animation:  reversal1 20s 1s infinite;
}
.mvp01ers-show>div:nth-child(2)>.mvp01er{
    animation: reversal1 30s infinite;
    -webkit-animation:  reversal1 30s infinite;
}
.mvp01ers-show>div:nth-child(3)>.mvp01er{
    animation: reversal2 20s 1s infinite;
    -webkit-animation:  reversal2 20s 1s infinite;
}
.mvp01ers-show>div:nth-child(4)>.mvp01er{
    animation: reversal2 30s 5s infinite;
    -webkit-animation:  reversal2 30s 5s infinite;
}
.mvp01ers-show>div:nth-child(5)>.mvp01er{
    animation: reversal1 20s 7s infinite;
    -webkit-animation:  reversal1 20s 7s infinite;
}
.mvp01ers-show>div:nth-child(6)>.mvp01er{
    animation: reversal2 20s 9s infinite;
    -webkit-animation:  reversal2 20s 9s infinite;
}

.mvp01er{
    transform-style: preserve-3d;
    position: relative;
}
/*动画中交替出现的前后两层图片的div*/
.front,.back{
    backface-visibility: hidden;
    position: absolute;
}
.front{
    z-index: 2;
}
.back{
    transform: rotateY(180deg);
}
/*开发者动画展示部分样式 end*/

/*“开发者们”板块底部合作伙伴 图片样式*/
.dev-img{
    padding-top: 23px;
    padding-right: 70px;
}
/*第二板块之一--“开发者们”样式 end*/

/*第二板块之二--“MVP01”p段落样式 start*/
#mvp01-p span{
    color: #000;
    line-height: 270%;
    font-weight: 500;
}
/*第二板块之二--“MVP01”样式 end*/

/*“开启您的产品”部分样式 start*/
#kaiqi-chanpin-wrap{
    background-color: #f7f7f7;
}
/*“开启您的产品”部分样式 end*/


@media (max-width: 767px) {

    h1{                 /*网页顶部标题*/
        font-size: 27px;
    }
    .mvp01ers-show{
        height: 3150px;
    }
    .mvp01ers-show>div{
        height: 600px;
    }
}

@media (min-width: 768px) {
    .mvp01ers-show{
        height: 2020px;
    }
    .mvp01ers-show>div{
        height: 660px;
    }
    .dev-img{           /*“开发者们”板块底部合作伙伴 图片样式*/
        padding-top: 40px;
        padding-right: 120px;
    }

}
@media (min-width: 992px){
    #first-part>div{
        padding-top: 180px;
    }
    .go-to-info{                 /*锚链接样式*/
        margin-top: 130px;
    }
    #mvp01,#developer>.container{
        padding-top: 150px;
        padding-bottom:150px;
    }
    .mvp01ers-show{
        height: 1560px;
    }
    .mvp01ers-show>div{
        height: 750px;
    }
    .dev-img{           /*“开发者们”板块底部合作伙伴 图片样式*/
        padding-top: 23px;
        padding-right: 70px;
    }
    #mvp01-p{
        padding-right: 100px;
    }
}